

#footer-container {
	max-width: 100%;
	width: 100%;
	background: $secondary-color;
	padding: 1rem 0;
	color: $white;
	padding-top: 2rem;
	margin-top: 2.5rem;

	a {
		color: white;
	}

	.button.hollow {
		border: 1px solid $white;

		&:hover {
			background-color: $white;
			color: $secondary-color
		}
	}
	
}


#contactMessage {
	margin-bottom: 1.5rem;
}