/* Navigation breakpoints */

.desktop-menu, .top-bar-left {
  @include show-for(medium);
}

#mobile-menu, .title-bar {
  @include hide-for(medium);
}

/* Mobile menu */

.title-bar-title {
  a {
    font-size: 1rem;
    color: $white;
  }
}

/* Tablet and desktop menu */
.top-bar {

  .menu .home a {
    color: $white;
  }

  .menu a {

    color: $white;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1;

    &:hover:not(.button) {
      background-color: #2a2a2a;
    }
  }

  .menu>li:not(.menu-text)>a { padding: 1rem; }

  .dropdown.menu .submenu {
    background-color: #121212;
    color: #e6e6e6;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after { display: none; }


